@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

*::selection {
  background-color: #f89878;
  color: #fff;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #f89878;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #66aefc;
}

::-webkit-scrollbar-thumb:active {
  background: #3e88d5;
}
